@{
    ViewData["Title"] = "Información de " + @ViewBag.nombre;
}
@foreach(Integrante integrante in ViewBag.integrantes)
{
    <div>
        <h1>@integrante.nombre @integrante.apellido</h1>
        <h2>@integrante.foto</h2>
        <h2>Equipo: @integrante.nombreEquipo</h2>
        <h3>Género: @integrante.genero</h3>
        <h3>Fecha de nacimiento: @integrante.fechaNacimiento</h3>
        <h3>Dato curioso: @integrante.datoCurioso</h3>
    </div>
}