@{
    ViewData["Title"] = "Información de " + @ViewBag.nombre;
}
@foreach(Integrante integrante in ViewBag.integrante)
{
    <div>
        <h1>@integrante.nombre @integrante.apellido</h1>
        <h2>@integrante.foto</h2>
        <h2>Equipo: @integrante.nombreEquipo</h2>
        <h3>
        Género: @integrante.genero
        Fecha de nacimiento: @integrante.fechaNacimiento
        Dato curioso: @integrante.datoCurioso
        </h3>
    </div>
}